.typewriter {
	max-width: 30%;
}
.typewriter h1 {
	color: orange;
	font-size: monospace;
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.1em;
	animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}