{% extends 'base.html' %}

{% block content %}

	{% for message in get_flashed_messages() %}
		<div class="alert alert-primary alert-dismissible fade show" role="alert">
		  {{ message }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<br><br>

	<div class="sliding_door">
		<a href="/insta" target="_blank">
			<div class="sliding_door_wrapper">
				<div class="doors left_door">
					<img src="{{ url_for('static', filename='images/left_door.png') }}", width=89, height=159>
				</div>
				<div class="door_frame">
					<img src="{{ url_for('static', filename='images/door_frame.png') }}", width=204, height=179>
				</div>
				<div class="doors right_door">
					<img src="{{ url_for('static', filename='images/right_door.png') }}", width=89, height=159>
				</div>
			</div>
		</a>
	</div>

{% endblock %}
